/* Configurações */
:root {
    --amarelo-fundo: #e5bd00;
    --amarelo-footer: #f8c300;
    --color-titulos: rgb(27, 27, 27);
    --roxo-fundo: #8300e5;
}

@font-face {
    font-family: "Akira";
    src: url("../fonts/Akira\ Expanded\ Demo.otf");
}

@font-face {
    font-family: "Andrea";
    src: url("../fonts/Andrea\ Bellarosa.ttf");
}

@font-face {
    font-family: "Miguel";
    src: url("../fonts/Miguel\ De\ Northern.ttf");
}

body{
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: var(--roxo-fundo);
}

/* NAVBAR */

.ul-navbar li{
    list-style: none;
}

.ul-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 14%;
}

.ul-navbar a{
    font-size: 23px;
    color: white;
    font-family: "Akira";
    text-decoration: none;
}

/* Conteudo Principal */
.main-container{
    position: relative;
}

.div-sem-blur{
    font-family: "Akira";
    font-size: 2.6vw;
    position: absolute;
    margin-top: 8vh;
    margin-left: 12vw;
    width: 38vw;
    height: 80vh;
    border-radius: 50px;
    z-index: 1;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.porsche-azul{
    position: absolute;
    width: 74.5vw;
    margin-top: 8.2vh;
    left: -21.1vw;
    opacity: 20px;
}

.img-porsche-azul-blur{
    width: 75%;
    margin-left: -9%;
    margin-top: 45px;
    filter: blur(4px);
    object-fit: cover;
    z-index: 1;
}


.assinatura{
    font-family: "Andrea";
}

