/* Configurações */
:root {
    --amarelo-fundo: #e5bd00;
    --amarelo-footer: #f8c300;
    --color-titulos: rgb(27, 27, 27);
    --roxo-fundo: #8300e5;
}

@font-face {
    font-family: "Akira";
    src: url("../fonts/Akira\ Expanded\ Demo.otf");
}

@font-face {
    font-family: "Andrea";
    src: url("../fonts/Andrea\ Bellarosa.ttf");
}

@font-face {
    font-family: "Miguel";
    src: url("../fonts/Miguel\ De\ Northern.ttf");
}

body{
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: var(--roxo-fundo);
    font-family: sans-serif;
    text-align: center;
}

input{
    width: 400px;
    height: 30px;
    border-radius: 20px;
}

summary{
    font-weight: bold;
    
}

.btn{
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #8300e5;
    margin-top: 10px;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0);
    transition: 0.5s ease;
    color: black;
}

.btn2{
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.btn2:hover{
    background-color: #ffffff00;
    color: white;
    transition: 0.5s ease-in-out;
    box-shadow: 0 1px;
}

/* NAVBAR */

/* NAVBAR */

.ul-navbar li{
    list-style: none;
}

.ul-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 7%;
}

.ul-navbar a{
    font-size: 23px;
    color: white;
    font-family: "Akira";
    text-decoration: none;
}

.ul-navbar a:hover{
    color: black;
    transition: 0.5s;
}

#nome_usuario{
    font-family: sans-serif;
    font-size: 14px;
}

.div_usuario{
    font-family: sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.div_usuario p{
    margin-right: 8px;
}

.hide{
    display: none;
}


/* Body */

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 16px;
    margin: 10px;
    max-width: 300px;
    background-color: #f8f8f8;
}

.card img {
    max-width: 100%;
    border-radius: 8px;
}

.card h3 {
    margin-top: 10px;
    font-size: 18px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    color: black;
    justify-content: center;
    align-items: center;
}

.div_criar_post{
    width: 600px;
    height: 250px;
    background-color: white;
    margin-bottom: 50px;
    color: black;
    border-radius: 20px;

}



